body {
  text-align: center;
  background-color: aliceblue;
}
#mainContainer {
  display: inline-flex;
  flex-direction: row;

  padding: 50px;
  margin: auto;
  gap: 50px;
}

#buttonContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#squereContainer {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;

  width: 960px;
  aspect-ratio: 1;
}

.divArt {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}
.divArtHover {
  background-color: red;
}

#setSqueresBtn,
button {
  padding: 30px 20px;
  font-size: 25px;
  border: px solid black;
  border-radius: 5px;
}
