body {
  text-align: center;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
#mainContainer {
  display: inline-flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
  gap: 50px;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  width: 300px;
}

#squereContainer {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  aspect-ratio: 1;
}

.divArt {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}
.divArtHover {
  background-color: red;
}

#setSqueresBtn {
  flex: 1;
}

#reset {
  flex: 1;
}

#randomColorBtn {
  flex: 1;
}

#colorPalette {
  flex: 10;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#colorPalette > #colorPaletteLogo {
  font-size: 30px;
  padding: 15px 0;
}

#colors {
  display: flex;
  flex-wrap: wrap;
}

.colorBtn {
  border: 1px solid black;
  box-sizing: border-box;
  width: 25%;
  aspect-ratio: 1;
}
