#mainContainer {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 200px;
  width: 960px;
}

.divArt {
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divArtHover {
  background-color: red;
}
